.tt-specialist-gym {
	margin-top: 10px;
}

.tt-specialist-gym > main {
	display: flex;
	flex-direction: column;
	padding: 10px;
}

.tt-specialist-gym-selects-container {
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 10px;
}

.tt-specialist-gym-info-container {
	font-size: 1rem;
}
